# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.DS_Store
_notes/.DS_Store
_notes/_staging/
_notes/.obsidian/
