---
---

{% include notes_graph.html %}

<br>

<div>
  {% assign notes = site.notes | where_exp: "item", "item.path contains 'notes'" | sort: "last_modified_at" | reverse %}
  {% for entry in notes %}
  {% unless entry.path contains "index.md" or entry.path contains "index.html" %}
  <div class="list-entry">
    <div><span class="faded">{{ entry.last_modified_at | date: "%Y-%m-%d" }}</span>
        <a class="internal-link" href="{{ entry.url }}">{{ entry.title }}</a> </div>
  </div>
  {% endunless %}
  {% endfor %}
</div>